* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
  /*  position: relative; */
  list-style: none;
}
body {
  overflow-x: hidden;
}
.pages {
  margin-top: 11vh;
}

@media (max-width: 768px) {
  /* Estilos para pantallas grandes */
  .pages {
    margin-top: 8vh;
  }
}
