* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
  /*  position: relative; */
  list-style: none;
}
body {
  overflow-x: hidden;
}
.pages {
  margin-top: 11vh;
}

/* Media query para pantallas de dispositivos móviles */
@media (max-width: 479px) {
  .pages {
    margin-top: 10vh; /* Ejemplo de ajuste en dispositivos móviles */
  }

  /* Otros estilos específicos para dispositivos móviles */
}

/* Media query para tablets y dispositivos similares */
@media (min-width: 480px) and (max-width: 768px) {
  .pages {
    margin-top: 8vh; /* Ajuste para tablets */
  }

  /* Otros estilos específicos para tablets */
}

/* Media query para pantallas de escritorio */
@media (min-width: 769px) {
  .pages {
    margin-top: 7vh; /* Estilos originales para pantallas de escritorio */
  }

  /* Otros estilos específicos para pantallas de escritorio */
}
